.container {
    max-width: 500px;
    margin: 0 auto;
}

.headline{
    font-size: 3em;
    font-family: Georgia, Cambria, Cochin, 'Times New Roman', Times, serif;
}

.subhead{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.4em;
    padding-bottom: 20px;
}

figure {
    width: 100%;
    align-items: center;
}

figcaption {
    color: gray;
    font-size: .50em;
    text-align: center;
    text-wrap: wrap;
}

.byline {
    text-transform: uppercase;
}

span {
    text-transform: uppercase;
    font-weight: bold;
    
}

.main_img {
width: 75%;
   max-width: 500px;
   max-height: 500px;
   text-align: center;
   margin: auto;
   display: block;
}
